<!DOCTYPE html>
<html>
  <head>
    <title>Landlord Score</title>
    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="stylesheet" href="/css/foundation.min.css">
    <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Nunito:400,700,300' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="/css/home.css">
  </head>

  <div class="row">
    <div class="small-10 medium-9 large-8 small-centered columns text-center">
      <a href="/index"><img src="/images/Landlord Score-logo-new.png" width=35%></a>
    </div>
  </div>

  <%= yield %>

</html>
